<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam eum nemo quas, quibusdam enim autem, ad labore laborum maiores in aut distinctio. Eaque libero atque iure esse quisquam temporibus aliquam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nihil non modi! Fugiat iure velit accusantium distinctio quisquam temporibus quos expedita architecto, ad deserunt delectus eum accusamus dolorem modi facere.</p>

    <h3>tampan dan pemberani</h2>
    
</body>
</html>