<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>random</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <h1>random number: <%= num %></h1>
    <p>angka diatas : <%= num%2==0 ?"genap" : "ganjeel" %></p>
</body>
</html>